<div *ngIf="images && images.length > 0" class="carousel-container">
  <img
    *ngFor="let image of images; let i = index"
    [src]="image.imageSrc"
    [alt]="image.imageAlt"
    [ngClass]="{ 'image-active': selectedIndex === i }"
    class="" />
  <div class="fxt-header">
    <div class="fxt-top-content" style="margin-bottom: -35px">
      <div class="fxt-transformY-50 fxt-transition-delay-1">
        <a href="login-25.html" class="fxt-logo"
          ><img src="img/logo-25.png" alt="Logo"
        /></a>
      </div>
      <div class="fxt-transformY-50 fxt-transition-delay-2">
        <h1>Igescom</h1>
      </div>
      <div class="fxt-transformY-50 fxt-transition-delay-3">
        <p>
          La solution complète pour centraliser et gérer l'encaissement de vos
          points de vente
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="indicators" class="carousel-dot-container">
    <span
      *ngFor="let dot of images; let i = index"
      class="dot"
      [ngClass]="{ active: selectedIndex === i }"
      (click)="selectImage(i)">
    </span>
  </div>
  <button *ngIf="controls" class="btn-carousel btn-prev">
    <i
      class="fas fa-arrow-circle-left icon-carousel icon-prev"
      (click)="onPrevClick()"></i>
  </button>
  <button *ngIf="controls" class="btn-carousel btn-next">
    <i
      class="fas fa-arrow-circle-right icon-carousel icon-next"
      (click)="onNextClick()"></i>
  </button>
</div>
